#folder{
    margin-left: 17vw;
    margin-top: 2vh;
    height: 7vh;
    width: 60vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#folder:active{
    background-color:#777777;
}

#folder img{
    height: 6vh;
    margin-left: 1vw;
    margin-top: 0.8vh;
    margin-bottom: 1vh;
    float: left;
}

#folder h1{
    font-size:3.5vh;
    margin-top: 3vh;
    margin-left: 3vw;
    font-weight: lighter;
}

a{
    color: #e9ffe9;
    display:block
}